.emulator {
    .column {
        flex: 0 0 auto; // Don't wrap
    }

    .emulator__display {
        border: 1px solid white;
        width: 320px;
        height: 160px;
        box-sizing: content-box;
    }

    .emulator__controls {
        margin-bottom: 1em;

        button:not(:last-child) {
            margin-right: 0.5em;
        }
    }
}

.register-value {
    transition: background-color 500ms;

    &--updated {
        background-color: #f1b70e;
    }
}

.log {
    white-space: pre;
    overflow: scroll;
    max-height: 400px;
    width: 100%;
}

input[type=number] {
    max-width: 90px; // TODO: give the target input a proper class
}

.rom-list {
    margin-bottom: 1.5em;
}